:root {
	/* COLORS */
	--black: #252422;
	--white: #f4f4f4;
	--pink: #f9cdcd;
	--black-3: hsla(0, 3%, 7%, 1);
	--text-color: hsl(154, 13%, 32%);

	/* FONT FAMILY */
	--font_family-1: "Roboto", san-seriff;
	--font_family-2: "Montserrat", san-seriff;

	/* TEXT TRANSFORM */
	--transform-1: capitalize;
	--transform-2: uppercase;

	/* FONT SIZES */
	--fontSize-13: calc(1.3rem + 6.7vw);
	--fontSize-12: calc(2rem + 2.5vw);
	--fontSize-11: calc(1.3rem + 2.4vw);
	--fontSize-10: calc(1.6rem + 1.2vw);
	--fontSize-9: 2.2rem;
	--fontSize-8: 2.1rem;
	--fontSize-7: calc(1.6rem + 1.2vw);
	--fontSize-6: 2.4rem;
	--fontSize-5: 2rem;
	--fontSize-4: 1.8rem;
	--fontSize-3: 1.6rem;
	--fontSize-2: 1.4rem;
	--fontSize-1: 1.2rem;

	/* FONT WEIGHTS */
	--weight-1: 400;
	--weight-2: 500;
	--weight-3: 700;
	--weight-4: bolder;

	/* LINE HEIGHTS */
	--lineHeight-1: 1em;
	--lineHeight-2: 1.2em;
	--lineHeight-3: 1.5em;
	--lineHeight-4: 1.6em;
	--lineHeight-5: 1.85em;
	--lineHeight-6: 1.4em;

	/* LETTERS SPACINGS */
	--letterSpacing-1: 0.15em;
	--letterSpacing-2: 0.4em;
	--letterSpacing-3: 0.2em;
	--letterSpacing-4: 0.3em;
	--letterSpacing-5: 3px;

	/* BORDER RADIUS */
	--radius-1: 0.5rem;
	--radius-2: 24px;
	--radius-3: 50%;

	/* TRANSITIONS */
	--transition-4: all 0.5s ease;
}

@media (max-width: 991px) {
	html {
		font-size: 55%;
	}
	section.present {
		margin-top: 7rem;
	}
	.present_body .box:nth-child(1) {
		flex: 1 1 45rem;
		margin-top: 4rem;
		width: 100%;
	}
	section.basic-dept {
		padding-top: 1rem;
	}
	.presents .present_body {
		padding-bottom: 1rem;
	}
}

@media (max-width: 768px) {
	.work_container .box {
		width: 100%;
		height: auto;
	}
	.work_container .box p {
		width: 80%;
	}
	.work_section .box h1 {
		font-size: 15rem;
		float: right;
	}
	.work_container .box,
	.items .item {
		flex: 1 1 30rem;
	}
	.engage {
		height: 100%;
	}
	.spotlight_container .box h1 {
		font-size: 7rem;
	}
	.initiatives h5,
	.show {
		display: block;
	}
	.career_container .box span,
	.navigations,
	.initiatives i,
	.hide {
		display: none;
	}
	.box .box_content .feature_img img,
	.feature_container .box .box_content .feature_img_desc,
	.box .box_content .feature_img,
	.feature_container .box .box_content {
		width: 100%;
	}
	.box .box_content .feature_desc {
		display: flex;
		width: 100%;
	}
	.home {
		line-height: 7rem;
	}
	.home span {
		font-size: 8rem;
	}
	.home span.fade_up {
		font-size: 6rem;
	}
	.service_container .column_box {
		flex: 1 1 45rem;
		gap: 5rem;
		padding-bottom: 1rem;
	}
	.box .numbering {
		padding-top: 0rem;
		margin-top: 1rem;
	}
	.row_box {
		flex-wrap: wrap;
		align-items: center;
		gap: 2rem;
	}
	.showcase .showcase_container,
	.showcase_container .box a {
		gap: 3rem;
	}
	.showcase_container .box h1 {
		font-size: var(--fontSize-6);
		margin-top: 3rem;
	}
	.showcase_container .box p {
		font-size: var(--fontSize-1);
	}
	.showcase_container .box .text h5,
	.showcase_container .box h3 {
		font-size: var(--fontSize-2);
	}
	.initiatives h5,
	.showcase_container .box .text span,
	.showcase_container .box h3 span {
		font-size: var(--fontSize-3);
	}
	.spotlight_container .box h1 {
		font-size: 5rem;
	}
	.logo h1 a {
		font-size: var(--fontSize-11);
	}
	.responsive_navbar {
		position: fixed;
		top: 0;
		left: 0;
		background-color: var(--black);
		width: 100%;
		padding: 4rem 6%;
		height: 100vh;
		z-index: 1000;
	}
	.responsive_navbar.show {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}
	.responsive_navbar .head {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.logo h1.responsive a {
		color: var(--pink);
	}
	.initiatives h5 {
		font-size: var(--fontSize-4);
	}
	.head .close_menu h5 {
		font-size: var(--fontSize-4);
		font-weight: var(--weight-3);
		text-transform: var(--transform-2);
		color: var(--pink);
		cursor: pointer;
	}
	.responsive_navbar .nav_items {
		margin-top: 7rem;
	}
	.nav_items nav {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	.nav_items nav h5 {
		cursor: pointer;
	}
	.nav_items nav a {
		position: static;
	}
	.nav_items nav h5,
	.nav_items nav a {
		text-transform: var(--transform-2);
		font-weight: var(--weight-3);
		font-size: var(--fontSize-4);
		color: var(--pink);
	}
	.nav_items nav h5:hover,
	.nav_items nav a.active,
	.nav_items nav a:hover {
		letter-spacing: var(--letterSpacing-1);
	}
	.service_container .row_box::after {
		left: -100%;
	}
	.box .numbering {
		gap: 0rem;
		justify-content: space-between;
		width: 100%;
		padding-bottom: 2rem;
	}
	.service_content .service_container {
		gap: 0rem;
	}
	.column_box {
		padding-bottom: 0rem;
		height: 100%;
	}
	.head_item p {
		width: 70%;
		float: right;
	}
	.about .about_par p {
		width: 70%;
	}
	section.present {
		margin-top: 0rem;
	}
	.present .presents {
		padding-top: 9rem;
	}
	.present_num .first {
		flex: 1 1 40rem;
	}
	.present_body .box .image {
		width: 65%;
		height: auto;
	}
	.present_body .box .image img {
		width: 100%;
		height: 100%;
	}
	.present_body .box:nth-child(1) {
		margin-top: 1rem;
	}
	.presents .present_body {
		gap: 7rem;
	}
	.present_body .box p {
		width: 30%;
	}
	.basic_item,
	.basic_items .box:nth-child(1) {
		flex: 1 1 45rem;
		width: 100%;
	}
	.basic_item {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		gap: 5rem;
	}
	.basic_item .items {
		flex: 1 1 45rem;
		width: 100%;
	}
	.basic_item .hideen {
		display: block;
		flex: 1 1 10rem;
		width: 100%;
	}
	.basic_dept .basic_banner h1 {
		font-size: 6.5rem;
	}
	.career_container p,
	.box .basic_item h2 {
		font-size: var(--fontSize-11);
	}
	.boxes_2 .basic_item:nth-child(2) {
		margin-top: 0;
		margin-bottom: 3.2rem;
	}
	.box_links {
		margin-bottom: 3rem;
	}
	.box_links .link a {
		font-size: 5rem;
		line-height: var(--lineHeight-1);
	}
	.box_par {
		flex: 1 1 25rem;
	}
	.page_container.container_page {
		height: 30%;
	}
	.page_home.home-page {
		top: 65%;
		height: 50%;
	}
	.page_home.think {
		top: 30%;
	}
	.tab_btn span.circle {
		padding: 0.8rem;
	}
	.tab_btn span.text {
		font-size: var(--fontSize-1);
	}
	.page_home.think {
		top: 25%;
	}
	section.think {
		margin-top: -6rem;
	}
	.page_container.career {
		height: 180%;
	}
	.page_home.career {
		top: 7%;
	}
	.career .box1 .intro {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}
	.box1 span {
		font-size: 4rem;
		line-height: 3rem;
		word-spacing: normal;
	}
	.box1 .p_text {
		margin-top: 5rem;
		width: 30%;
	}
	section.career {
		width: 100%;
		margin-top: -5rem;
	}
	.career_container {
		width: 100%;
		float: none;
	}
}

@media (max-width: 550px) {
	.page_container.career {
		height: 155%;
	}
	.page_home.career {
		top: 8%;
	}
	section.career {
		margin-top: -5rem;
	}
	.box1 .p_text {
		width: 40%;
	}
}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
	.home_body {
		margin-top: 5rem;
	}
	.home {
		line-height: 5rem;
	}
	.home span {
		font-size: 6rem;
	}
	.home span.fade_up {
		font-size: 4.5rem;
	}
	.head_item p {
		padding-left: 10rem;
	}
	.column_box {
		gap: 5rem;
		padding-bottom: 5rem;
	}
	.box .numbering {
		padding-top: 1rem;
	}
	.row_box {
		flex-wrap: wrap;
		align-items: center;
		gap: 2rem;
	}
	section.engage {
		padding-bottom: 0;
		height: auto;
	}
	.init_item_container {
		margin-top: 5rem;
		align-items: center;
		width: 100%;
	}
	.row_box .service_one video,
	.row_box .service_one img {
		height: 55rem;
		margin-bottom: 1rem;
	}
	.initiative .initiative_container {
		gap: 3rem;
	}
	.initiative {
		padding: 3rem;
	}
	.swiper.mySwiper {
		display: none;
	}
	.init_container {
		display: block;
	}
	.init_container .row {
		margin-bottom: 5rem;
	}
	.head_item p {
		width: 100%;
	}
	.present_body .box p {
		width: 50%;
	}
	.basic_dept .basic_banner h1 {
		font-size: 5rem;
	}
	.about .about_par p {
		width: 90%;
		padding-top: 2rem;
		font-size: var(--fontSize-10);
	}
	section.present {
		margin-top: -3rem;
	}
	.present .presents {
		padding-top: 0rem;
	}
	.boxes_2 .basic_item:nth-child(2) {
		margin-top: 0;
		margin-bottom: 6.5rem;
	}
	.box_links .link a {
		font-size: 4rem;
		line-height: 3rem;
	}
	.page_home.about {
		padding-bottom: 0rem;
		top: 16%;
	}
	.page_container.about {
		height: 100%;
	}
	.about .home_body span {
		font-size: 6.5rem;
		line-height: var(--lineHeight-1);
	}
	.present_body .box .image:nth-child(2) {
		top: 10%;
	}
	.present_body .box .image:nth-child(3) {
		top: 5%;
		left: 24%;
	}
	.present_body .box .image:nth-child(4) {
		top: 15%;
	}
	.presents .present_body {
		gap: 0rem;
		height: auto;
	}
	.present_body .box:nth-child(2) {
		height: 60vh;
	}
	.present_body .box:nth-child(1) {
		flex: 1 1 45rem;
	}
	section.basic-dept {
		margin-top: -1rem;
	}
	.basic_item {
		align-items: normal;
	}
	.box .basic_item h4 {
		padding-bottom: 1rem;
	}
	.boxes_2 .basic_item:nth-child(2) {
		margin-bottom: 7rem;
	}
	.news_home.home span {
		font-size: 7rem;
	}
	.news_head .tab_container {
		gap: 2rem;
		flex-wrap: wrap;
	}
	.tab_container .tab_btn {
		gap: 0.7rem;
	}
	.page_home.think {
		top: 15%;
	}
	section.think {
		margin-top: -10rem;
	}
	.page_container.career {
		height: 120%;
	}
	.page_home.career {
		top: 8%;
	}
	section.career {
		margin-top: -5rem;
	}
	.box1 .p_text {
		width: 40%;
	}
}
